<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest">
  <Identity Name="02efbaa4-822d-4180-8b3c-f520d8e8f429" Publisher="CN=Nish" Version="1.0.0.0" />
  <Properties>
    <DisplayName>DietCalculator.WinRT</DisplayName>
    <PublisherDisplayName>Nish</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
  </Properties>
  <Prerequisites>
    <OSMinVersion>6.2.1</OSMinVersion>
    <OSMaxVersionTested>6.2.1</OSMaxVersionTested>
  </Prerequisites>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application Id="App" Executable="$targetnametoken$.exe" EntryPoint="DietCalculator.WinRT.App">
      <VisualElements DisplayName="DietCalculator.WinRT" Logo="Assets\Logo.png" SmallLogo="Assets\SmallLogo.png" Description="DietCalculator.WinRT" ForegroundText="light" BackgroundColor="#738182">
        <DefaultTile ShowName="logoOnly" ShortName="DietCalc" />
        <SplashScreen Image="Assets\SplashScreen.png" />
      </VisualElements>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="internetClient" />
  </Capabilities>
</Package>